{% extends "base.html" %}

{% block title %}
Author Decks
{% endblock %}

{% block custom_navbar %}
<a class="navbar-brand">{{name}}</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('main_cont.dashboard') }}">
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('auth.logout') }}">
                Logout
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block main_section %}
<section>
    <p class="h1 mt-2 ms-4">Public Decks of Author {{author}}</p>
</section>
<div class="container-fluid">
    {% if decks %}
    {% for deck_row in decks|batch(4) %}
    <div class="row mt-2">
        {% for deck in deck_row %}
        <div class="col-md-3">
            <div class="card" style="background-color: lightyellow; margin:10px;">
                <div class="card-body">
                    <p class="h4 card-title">{{deck["deck_name"]}}
                    <div class="h5">
                        <span class="badge rounded-pill bg-primary">{% if deck["public"] == True %}Public {%else%}
                            Private {%endif %}
                        </span>
                    </div>
                    </p>
                    <p class="card-text">
                        No of Cards = {{deck["no_of_cards"]}}
                    </p>
                    <a href="{{ url_for('main_cont.deckpage', deck_id=deck['deck_id']) }}"
                        class="btn btn-danger">Explore</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {%else%}
    <p class="ms-2">There are no public decks available.</p>
    {% endif %}
</div>
{% endblock %}