{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block custom_navbar %}
<a class="navbar-brand">{{name}}'s Dashboard</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('main_cont.add_new_deck') }}">
                Add Deck
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('main_cont.public_decks') }}">
                Public Decks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('auth.logout') }}">
                Logout
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block main_section %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<section>
    <p class="h1 mt-2 ms-4" style="color: black;">Personal Decks</p>
</section>
<div class="container-fluid">
    {% if decks %}
    {% for deck_row in decks|batch(4) %}
    <div class="row mt-2">
        {% for deck in deck_row %}
        <div class="col-md-3">
            <div class="card" style="background-color: lightyellow; margin:10px;">
                <div class="card-body">
                    <p class="h4 card-title">{{deck["deck_name"]}}
                    <div class="h5">
                        <span class="badge rounded-pill bg-primary">{% if deck["public"] == True %}Public {%else%}
                            Private {%endif %}
                        </span>
                    </div>
                    </p>
                    <p class="card-text">No of Cards = {{deck["no_of_cards"]}}</p>
                    <a href="{{ url_for('main_cont.deckpage', deck_id=deck['deck_id']) }}"
                        class="btn btn-danger">Explore</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {%else%}
    <p class="ms-2">There are no decks made.</p>
    {% endif %}

    <br>

    <div class="container-fluid">
        <table class="table table-bordered"
            style="border: 2px black solid; background-color: white; text-align: center; margin-right: 10px;">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Deck Name</th>
                <th scope="col">Date Attempted</th>
                <th scope="col">Author</th>
                <th scope="col">Total Score</th>
            </thead>
            <tbody>
                {% for r in attempt %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>
                        {% if r["public"] or r["creator"] %}
                        <a href="{{ url_for('main_cont.deckpage', deck_id=r['deck_id']) }}"> {{r["deckname"]}} </a>
                        {%else%}
                        {{r["deckname"]}}
                        {% endif %}
                    </td>
                    <td>{{r["date"]}}</td>
                    <td><a href="{{ url_for('main_cont.author_public_decks', author_name=r['author']) }}">
                            {{r["author"]}} </a></td>
                    <td>{{r["total_score"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}