{% extends "base.html" %}

{% block title %}
Deck Page
{% endblock %}

{% block css%}
<style>

    .secondBG{
        background-color: bisque; 
        padding: 5px 0px 5px 10px; 
        margin-bottom: 10px;
    }

    .miniHeader{
        font-size: 17px;
    }
</style>
{% endblock%}

{% block custom_navbar %}
<a class="navbar-brand">{{name}}</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('main_cont.dashboard') }}">
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('main_cont.public_decks') }}">
                Public Decks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('auth.logout') }}">
                Logout
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block main_section %}
<main>
    <section class="secondBG">
        <p class="h2 mt-2">Deck Name - {{deck["deck_name"]}}</p>
        <p class="miniHeader">Type of Deck:
            <span class="badge rounded-pill bg-primary ms-2">
                {% if deck["public"] == True %} Public {%else%} Private {%endif %}
            </span>
        </p>
        <p class="miniHeader">
            Author = <a
                href="{{ url_for('main_cont.author_public_decks', author_name=deck['deck_author']) }}">{{deck["deck_author"]}}</a>
        </p>
        <p class="miniHeader">No of Cards = {{deck["no_of_cards"]}}</p>
    </section>

    <div class="container" style="margin-left: 0px;">
        <div class="btn-group" role="group" id="first">
            <div class="pt-1 mb-4">
                <a class="btn btn-dark btn-lg btn-block"
                    href="{{ url_for('main_cont.studyCard', deck_id = deck['deck_id'], card_id = card_id) }}">Start
                    Study</a>
            </div>

            {% if deck["creator"] %}

            <div class="pt-1 mb-4 ms-4">
                <a href="{{ url_for('main_cont.updateDeck', deck_id = deck['deck_id']) }}"
                    class="btn btn-dark btn-lg btn-block">Update Deck</a>
            </div>
            <div class="pt-1 mb-4 ms-4">
                <a class="btn btn-dark btn-lg btn-block" type="submit"
                    onclick="return confirm('Are you sure you want to delete the deck?')"
                    href="{{ url_for('main_cont.deleteDeck', deck_id = deck['deck_id']) }}">Delete Deck</a>
            </div>

            {% endif %}
        </div>
    </div>

    {% if deck["creator"] %}

    <div class="pt-1 mb-4 ms-2">
        <a class="btn btn-dark btn-lg btn-block"
            href="{{ url_for('main_cont.add_new_card', deck_id = deck['deck_id']) }}">Add Card to Deck</a>
    </div>

    {% endif %}

    <div class="pt-1 mb-4 ms-2">
        <a class="btn btn-dark btn-lg btn-block"
            href="{{ url_for('main_cont.view_deck_cards', deck_id = deck['deck_id']) }}">View Entire Deck</a>
    </div>

    <br>

    <div class="container-fluid">
        <table class="table table-bordered"
            style="border: 2px black solid; background-color: white; text-align: center; margin-right: 10px;">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Date Attempted</th>
                <th scope="col">Start Time</th>
                <th scope="col">Time Taken (mins)</th>
                <th scope="col">Total Score</th>
            </thead>
            <tbody>
                {% for r in attempt %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{r["date"]}}</td>
                    <td>{{r["start_time"]}}</td>
                    <td>{{r["time_taken"]}}</td>
                    <td>{{r["total_score"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}